<% provide(:title, "Home is where the heart is ") %>

<div class="headSec">
    <%#= image_tag("egg-cartons-big.jpg", alt: "Egg box extravaganza!") %>
    <p>Emers Store</p>
</div>
<h1>Welcome to the shop of Eggs-tradinary things!</h1>
<p>This is an online product store, selling something, somewhat useful!</p>

